doctype html
html
    head
        title Code Monkey
        link(href="/stylesheets/bootstrap.css", rel="stylesheet")
        link(href="/stylesheets/style.css", rel="stylesheet")

        <script src="/socket.io/socket.io.js"></script>
        script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js")
        script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
        script(type="text/javascript", src="/javascripts/modernizr-2.6.2.min.js")
    body    
        block content