extends layout

block content
    script(type="text/javascript" src="javascripts/underscore-min.js")
    script(type="text/javascript" src="javascripts/createjs-min.js")
    script(type="text/javascript" src="javascripts/client.js")
    div(class="full play")
        div(class="container play-container")
            img(src="/images/logo-small.png", class="logo-small")
            div(class="row")
                div(class="col-md-8 arena-container")
                    canvas(id="arenaCanvas", width="750", height="600", class="arena-canvas")
                div(class="col-md-4")
                    h2 Write Code
                    hr
                    textarea(cols="40", rows="25", class="arena-textarea")