extends layout

block content
    div(class="full play")
        div(class="container")
            h1 Code Monkey
            div(class="row")
                div(class="col-md-8 arena-container")
                    canvas(width="750", height="600", class="arena-canvas")
                div(class="col-md-4")
                    h2 Write Code
                    hr
                    textarea(cols="40", rows="25", class="arena-textarea")
