extends layout

block content
    link(href="/stylesheets/codemirror.css", rel="stylesheet")
    link(href="/stylesheets/twilight.css", rel="stylesheet")
    script(type="text/javascript", src="/javascripts/underscore-min.js")
    script(type="text/javascript", src="/javascripts/createjs-min.js")
    script(type="text/javascript", src="/javascripts/codemirror.js")
    script(type="text/javascript", src="/javascripts/javascript.js")
    script(type="text/javascript", src="/javascripts/matchbrackets.js")
    script(type="text/javascript", src="/javascripts/socket.js")
    script(type="text/javascript", src="/javascripts/commands.js")
    script(type="text/javascript", src="models.js")

    script(type="text/javascript", src="/javascripts/client.js")
    div(class="full play")
        div(class="container play-container")
            a(href="/")
                img(src="/images/logo-small.png", class="logo-small")
            div(class="row")
                div(class="col-md-8 arena-container")
                    canvas(id="arenaCanvas", width="750", height="600", class="arena-canvas")
                div(class="col-md-4")
                    h2 Write Code
                    hr
                    div(class="textarea-container")
                        textarea(cols="40", rows="25", class="arena-textarea", id="textarea").
                            alert('Hello #{name}!');
                    button(class="btn btn-warning", onclick="submitActions()") Submit

    script(type="text/javascript", src="/javascripts/repl.js")
    

