extends layout

block content
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/models.js")
    script(type="text/javascript", src="javascripts/socket.js")
    div(class="container")
        h1 Test Socket
