html, body {
	min-width: 100%;
	min-height: 100%;
	background-image: url('../images/background.jpg');
	background-size: cover;
}

a {
  color: #00b7ff;
}

.arena-container {
	
}

.arena-canvas {
	background-color: black;
	border: 5px solid yellow;
}

.arena-textarea {
	font-family: monospace;
}

